site_name: that-depends
repo_url: https://github.com/modern-python/that-depends
site_url: https://that-depends.readthedocs.io/
docs_dir: docs
edit_uri: edit/main/docs/
nav:
  - Quick-Start: index.md
  - Introduction:
      - Containers: introduction/ioc-container.md
      - Dependency Injection: introduction/injection.md
      - Generator Injection: introduction/generator-injection.md
      - Type-based Injection: introduction/type-based-injection.md
      - String Injection: introduction/string-injection.md
      - Scopes: introduction/scopes.md
      - Tear-down: introduction/tear-down.md
      - Multiple Containers: introduction/multiple-containers.md

  - Providers:
      - Collections: providers/collections.md
      - Context-Resources: providers/context-resources.md
      - Factories: providers/factories.md
      - Object: providers/object.md
      - Resources: providers/resources.md
      - Selector: providers/selector.md
      - Singletons: providers/singleton.md
      - State: providers/state.md
  - Experimental Features:
      - Lazy Provider: experimental/lazy.md

  - Integrations:
      - FastAPI: integrations/fastapi.md
      - FastStream: integrations/faststream.md
      - Litestar: integrations/litestar.md
  - Testing:
      - Fixtures: testing/fixture.md
      - Overriding: testing/provider-overriding.md
  - Migration:
      - 1.* to 2.*: migration/v2.md
      - 2.* to 3.*: migration/v3.md
  - Development:
      - Contributing: dev/contributing.md
      - Decisions: dev/main-decisions.md

theme:
  name: material
  custom_dir: docs/overrides
  features:
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.action.view
    - navigation.footer
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.instant
    - header.autohide
    - announce.dismiss
  icon:
    edit: material/pencil
    view: material/eye
    repo: fontawesome/brands/git-alt
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - def_list
  - codehilite:
      use_pygments: true
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - css/code.css
plugins:
  - llmstxt:
      full_output: llms-full.txt
      markdown_description: "A simple dependency injection framework for Python."
      sections:
        Quickstart:
          - index.md: How to install and basic usage example
        Containers:
          - introduction/ioc-container.md: Defining the DI Container
          - introduction/multiple-containers.md: Using multiple DI Containers
        Injecting Dependencies:
          - introduction/injection.md: Default way to inject dependencies
          - introduction/generator-injection.md: Injecting dependencies into generators
          - introduction/type-based-injection.md: Injecting dependencies by bound type
          - introduction/string-injection.md: Injecting dependencies by providing a reference to a Provider by string
        Simple Providers:
          - providers/singleton.md: The Singleton and AsyncSingleton provider
          - providers/factories.md: The Factory and AsyncFactory provider
          - providers/object.md: The Object provider
          - providers/resources.md: The Resource and AsyncResource provider
          - introduction/tear-down.md: Handling tear down for Singletons and Resources
        Context Providers:
          - providers/context-resources.md: The ContextResource provider
          - introduction/scopes.md: Handling scopes with ContextResources
          - providers/state.md: The State provider
        Providers that interact with other providers:
          - providers/collections.md: The Dict and List provider
          - providers/selector.md: The Selector provider
        Integrations with other Frameworks:
          - integrations/fastapi.md: Integration with FastApi
          - integrations/faststream.md: Integration with FastStream
          - integrations/litestar.md: Integration with LiteStar
        Testing:
          - testing/fixture.md: Usage with fixtures
          - testing/provider-overriding.md: Overriding providers
        Experimental features:
          - experimental/lazy.md: The Lazy provider

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/modern-python/that-depends
      name: GitHub
