name: Publish Package

on:
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: astral-sh/setup-uv@v7
        with:
          cache-dependency-glob: "**/pyproject.toml"
      - run: just publish
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
